<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<title>WhereTo?</title>
<h1><center><img src="https://i.imgur.com/kOBOzA6.png" ></center></h1>

<h2><b><i><P ALIGN="LEFT">Welcome {{username}} <font size = 3></b></h2></P></i>
<body>

<div class="topnav">
  <a class="active" href="/home/{{username}}">Home</a>
  <a  href="/profile/{{username}}">Profile</a>
  <a  href="/friends/{{username}}">Friends</a>
    <a href="/rlist/{{username}}">Recommendations</a>
  <a  href="/">Logout</a>
  <input type="text" placeholder="Search for user or venue..">
</div>


<h3>
    <P align="left"><input type="text" placeholder="Write Status" size = 100 style="width: 600px;height:30px;"><br/><br/>
    Check-In</P>
</h3>

<h3>
    <font size="6">Friend Activity</font>
</h3>

<h3>
    <P align="left">Askari Iqbal checked in to Ankara Swiss Hotel!</P>
    <P align="right"> <i>comment   ~10 minutes ago</i></P>

    <P align="left">Usama Saqib updated his status: Looking for any good pizza recommendations</P>
    <P align="right"> <i>comment   ~2 hours ago</i></P>

    <P align="left">Hamza Saeed Khan rated <i>Asansor, Izmir: 5/5</i> </P>
    <P align="right"> <i>upvote   downvote   comment   ~1 day ago</i></P>

    <P align="left">ColdPlay created an event: <i>"Concert At 9 PM EST"</i> -- at Stade de France, Paris.</P>
    <P align="right"> <i>view event    ~4 days ago</i></P>

</h3>
</body>